.dashboardPage {
    min-height: 100vh;
    display: flex;
}

.dashboardMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(144, 103, 197, 0.3);
}

.dashboardBody {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}