.homeContent {
    height: 90vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 33% 34% 33%;
}

.homeCell {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid blue;
}

.cellOne {
    grid-row: 1 / span 2;
}

.cellTwo {
    grid-row: 1 / span 2;
    background-image: url("../images/homeContentImage1.jpg");
    background-size: cover;
}
