@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* .appContainer {
    padding: 0 5vw;
} */

.pageContainer {
    padding: 0 5vw;
}

/* logoSection styling to be used in various pages */
.logoSection {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #07080e;
}

.logoSection:hover {
    color: #07080e;
}

.logoSection img{
    margin: 0 10px 0 0;
}